<ion-header mode="ios">
  <ion-toolbar style="height: 80px; align-items: center; justify-content: center; display: flex;">
    <ion-title>Products</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openMenu()" slot="start">
        <ion-icon name="menu" style="font-size: 38px;"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  
</ion-header>

<ion-content>
  <ion-grid *ngIf="img_dir != ''">
    <ion-row>
      <ion-col *ngFor="let item of productlist" size="6">
        <ion-card>
          <div class="card-center-image" [ngStyle]="{'background-image':'url('+ img_dir + item.productImg +')'}" (click)="gotoDetail(item)">
            <div class="card-center-bg"></div>
          </div>
          <ion-card-header>
            <ion-card-title>{{item.productName}}</ion-card-title>
            <ion-card-subtitle>{{item.productDimension}}</ion-card-subtitle>
            <ion-card-subtitle>{{item.productCode}}</ion-card-subtitle>
          </ion-card-header>

        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-button *ngIf="productlist.length > 5" class="loadmore-btn" mode="ios" fill="solid" size="default" shape="round" expand="block" (click)="loadMore()">
    Load More
  </ion-button>
</ion-content>
