<ion-header mode="ios">
  <app-header
    [pageTitle]="pageTitle"
    [cartBadgeCount]="cartBadgeCount"
    [isLoggedIn]="isLoggedIn">
  </app-header>
</ion-header>

<ion-content>
  <ion-grid *ngIf="img_dir != ''">
    <ion-row>
      <ion-col *ngFor="let item of categorylist" size="6" [routerLink]="['/product', item.category_id]">
        <ion-card>
          <div class="card-center-image" [ngStyle]="{'background-image':'url('+ img_dir + item.categoryimg +')'}">
            <div class="card-center-bg">
              <div class="card-center-text">
                <p class="title">{{item.display_title}}</p>
              </div>
            </div>
            
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
