<ion-header mode="ios">
  <app-header
    [pageTitle]="pageTitle"
    [cartBadgeCount]="cartBadgeCount"
    [isLoggedIn]=true>
  </app-header>
</ion-header>
<ion-content>

  <ion-grid class="ion-no-padding" *ngIf="!isUpdating">
    <ion-row class="ion-justify-content-center ion-align-items-center">
      <ion-col size="12" class="ion-text-center">
        <ion-slides pager="true" [options]="slideOpts">
          <ion-slide *ngFor="let item of homeSliders; let i = index">
            <div class="slide-center-image" [ngStyle]="{'background-image':'url('+ img_dir + item.name +')'}">
              <div class="slide-center-bg">
                <div class="slide-center-text">
                  <p class="title">{{item.title}}</p>
                  <p class="description">{{item.description}}</p>
                </div>
              </div>
            </div>
          </ion-slide>

        </ion-slides>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center ion-align-items-center">
      <ion-col size="12" class="ion-text-center">
        <div class="home-section">
          <div class="home-section1-bg">
            <ion-button expand="block" fill="outline" class="btn-item" [routerLink]="['/special']">VIEW SALE ITEMS</ion-button>
          </div>
        </div>
        <div class="home-section">
          <div class="home-section2-bg">
            <ion-button expand="block" fill="outline" class="btn-item" [routerLink]="['/new-arrival']">NEW ARRIVALS</ion-button>
          </div>
        </div>   
        <div class="home-section">
          <div class="home-section1-bg">
            <ion-button expand="block" fill="outline" class="btn-item" [routerLink]="['/clearance']">VIEW CLEARANCE ITEMS</ion-button>
          </div>
        </div>               
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
